<div class="modal-header">
  <a class="close-reveal-modal close">close</a>
  <h3>
    Publications matching
    <% _.each(terms, function(term, i) { %>
        <i><%- term %></i>
        <% if (i + 1 < terms.length) { %>or<% } %>
    <% }); %>
    in <%- year %>
  </h3>
</div>
<div class="modal-body">
  <section class="row">
    <p class="summary">
        Showing publications
        <span class="first-ord"><%= offset + 1 %></span>
        to <span class="end-ord"><%= limit + offset %></span>
        of <%= count %>
    </p>
  </section>
  <section class="row">
    <form>
        <label>
            <span>Map</span>
            <input type="radio" name="view" value="map">
        </label>
        <label>
            <span>Abstracts</span>
            <input type="radio" name="view" value="abstracts">
        </label>
        <label>
            <span>Journals</span>
            <input type="radio" name="view" value="journals">
        </label>
     </form>
  </section>
  <div class="journals">
      <span class="loading">Loading...</span>
  </div>
  <button class="get-more small button">More</button>
</div>
<div class="modal-footer right">
  <a href="#" class="button left ok success close">close</a>
</div>
