<div class="modal-header">
  <a class="close-reveal-modal close">close</a>
  <h3>
    Publications matching
    <% _.each(terms, function(term, i) { %>
        <i><%- term %></i>
        <% if (i + 1 < terms.length) { %>or<% } %>
    <% }); %>
    in <%- year %>
  </h3>
</div>
<div class="modal-body">
  <section class="row">
    <p class="summary">
        Showing publications
        <span class="first-ord"><%= offset + 1 %></span>
        to <span class="end-ord"><%= limit + offset %></span>
        of <%= count %>
    </p>
  </section>
  <section class="row">
    <form>
        <% _.forEach(['Map', 'Abstracts', 'Journals'], function (view) { %>
            <label>
                <span><%= view %></span>
                <input type="radio" name="view" value="<%= view.toLowerCase() %>">
            </label>
        <% }); %>
     </form>
  </section>
  <div class="journals">
      <span class="loading">Loading...</span>
  </div>
  <button class="get-more small button">More</button>
</div>
<div class="modal-footer right">
  <a href="#" class="button left ok success close">close</a>
</div>
