svg {
  font: 10px sans-serif;
}

#pubtrend-viz {
    width: 100%;
    min-height: 450px;
}

.top-bar .name h1 {
    font-weight: bold;
    color: white;
    display: block;
    padding: 0 15px;
}

.y.axis path {
  display: none;
}

.y.axis line {
  stroke: #fff;
  stroke-opacity: .2;
  shape-rendering: crispEdges;
}

.y.axis .zero line {
  stroke: #000;
  stroke-opacity: 1;
}

.title {
  font: 300 48px Rokkit; /* Helvetica Neue; */
  fill: #666;
}

.pubyear {
  text-anchor: middle;
  font-weight: bold;
}

.pubyear {
  fill: #fff;
}

nav h1 {
    font-family: 'Rokkitt', serif;
    font-size: 32px;
}

rect {
  fill-opacity: .4;
}

rect:first-child {
  fill-opacity: .5;
}

.popup {
    background: #fefefe;
    max-width: 200px;
    color: #555;
    border: 1px solid #6a6a6a;
    padding: 12px;
    box-sizing: border-box;
}

.popup p {
    margin-bottom: 0.5em;
}

.popup.arrowed::after {
    position: relative;
    content: ' ';
    left: 44%;
    top: 40px;
    height: 0px;
    width: 0px;
    border-top: 10px solid #6a6a6a;
    border-right: 10px solid transparent;
    border-left: 10px solid transparent;
}

